apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 2 # Requirement: ReplicaSet logic
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: 939600984337.dkr.ecr.us-east-1.amazonaws.com/webapp-repo:latest
        ports:
        - containerPort: 8080
        env:
        - name: DBHOST
          value: "mysql-service"