apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: employees
  template:
    metadata:
      labels:
        app: employees
    spec:
      containers:
      - name: webapp
        image: 939600984337.dkr.ecr.us-east-1.amazonaws.com/webapp-repo:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080 # Or whatever port your app listens on
        env:
        - name: DBHOST
          value: "mysql-service"
        - name: DBPORT
          value: "3306"
        - name: DBUSER
          value: "root"
        - name: DBPWD
          value: "pw"
        - name: DBNAME
          value: "webapp"